

<h1 style="text-align: center; ">Email List</h1>


 <div style="margin-left: 20%; margin-bottom: 20px;">
 	<%= link_to emails_path, :method => "POST",  data: { remote: true} do %>
	<button type="button" class="btn btn-outline-secondary">Create an email</button>
	 <% end %> 
</div>



<div class="container" style="">

	<div class="row" style="border: solid black 4px;">
		<div class="col-sm-6">Email List</div>
		<div class="col-sm-6">Email Selected</div>
	</div>

	
	<div id="email-table" >
		<% @emails.each do  |email|%>
		<div class="row" id="email-cell-<%= email.id%>" style="border-bottom: solid black 1px;">
			<div class="col-md-6" id="email-object" style="border-left: solid black 2px;">
				<%= link_to email.object, email_path(email)%>
			</div>
			<div class="col-md-6" id="email-content" style="border-left: solid black 2px; border-right: solid black 2px;"><%= email.body %></div>
		</div>
		<%end%>
	</div>
</div>



